{% extends "template.html" %}
{% block conteudo %}



  <script src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
  <script src="{{url_for('static', filename='jquery.mask.js') }}"></script>
  <script>
   $(document).ready(function (){
      $('#rg').mask('00.000.000-0');
      $('#telefone').mask('(00) 00000-0000');
      $('#cpf').mask('000.000.000-00');
  });
  </script>
      <div class="modal fade" id="BairroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form class="row g-3 needs-validation" action="/novo_bairro" method="post" novalidate>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar bairro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="hidden" name="previous" value="/editar_prop/{{proprietario._id}}">
          <div class="form-group">
            <label for="cidade_bairro">Cidade</label>
            <select class="form-select" id="cidade_bairro" name="cidade_bairro" required>
                <option value="" selected>Selecione a tipo</option>
                    {% for cidade in cidades %}
                        <option value="{{ cidade._id_cidade }}">{{ cidade._cidade_nome}}</option>
                    {% endfor %}
            </select><div class="invalid-feedback">
              Por favor insira uma cidade.
              </div>
          </div>
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" class="form-control" required>
              <div class="invalid-feedback">
              Por favor insira um bairro.
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
      </div>
    </div>
  </div></form>
</div>
      <div class="modal fade" id="CidadeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form class="row g-3 needs-validation" action="/nova_cidade" method="post" novalidate>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CidadeModalLabel">Criar cidade</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <input type="hidden" name="previous" value="/editar_prop/{{proprietario._id}}">
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" class="form-control" required>
              <div class="invalid-feedback">
              Por favor insira uma cidade.
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
      </div>
    </div>
  </div></form>
</div>
<h1>Editar Proprietario</h1>
<br>
<form action="/atualizar_proprietario" method="post" class="needs-validation" novalidate>
  <fieldset>
    <input type="hidden" name="id" value="{{proprietario._id}}">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" name="nome" class="form-control" id="nome" value="{{proprietario._nome}}" required >
      <div class="invalid-feedback">
              Por favor insira um nome.
      </div>
    </div>

    <div class="mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input type="text" class="form-control" id="cpf" name="cpf" value="{{proprietario._cpf}}">
    </div>
    <div class="mb-3">
      <label for="rg" class="form-label">RG</label>
      <input type=text class="form-control" id="rg" name="rg" value="{{proprietario._rg}}">
    </div>
    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="endereco" name="endereco" value="{{proprietario._endereco_prop}}">
    </div>
    <div class="mb-3">
        <label for="telefone" class="form-label">Celular</label>
        <input type="text" class="form-control" id="telefone" name="telefone" value="{{proprietario._telefone}} " required>
      <div class="invalid-feedback">
              Por favor insira um Celular.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="{{proprietario._email}}">
    </div>

<div class="input-group">
            <label class="input-group-text" for="cidades">Cidade</label>
            <select class="form-select" id="cidades" name="cidades" required>
                <option value="{{proprietario._cidade._id_cidade}}" selected>{{proprietario._cidade._cidade_nome}}</option>
                    {% for cidade in cidades %}
                        <option value="{{ cidade._id_cidade }}">{{ cidade._cidade_nome}}</option>
                    {% endfor %}
            </select>
                              <div class="invalid-feedback">
              Por favor insira uma cidade.
              </div>

              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CidadeModal"><i><img
                      src="../static/img/icon/plus.svg" alt=""></i> Criar cidade </button>

          </div>
      <br>


<div class="input-group">
            <label class="input-group-text" for="bairros">Bairros</label>
            <select class="form-select" id="bairros" name="bairros" required>
                <option value="{{proprietario._bairro._id_bairro}}" selected>{{proprietario._bairro._bairro_nome}}</option>
                    {% for bairro in bairros %}

                        <option data-cid="{{bairro._id_cid}}" value="{{ bairro._id_bairro }}">{{bairro._bairro_nome}} / {{bairro._bairro_cid_nome}}</option>
                    {% endfor %}
            </select>
                              <div class="invalid-feedback">
              Por favor insira um bairro.
              </div>

              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#BairroModal"><i><img
                      src="../static/img/icon/plus.svg" alt=""></i> Criar bairro </button>

          </div>
      <br>
    <button type="submit" class="btn btn-dark">Salvar</button>
    <a href="{{url_for('index')}}"><button type="button" class="btn btn-danger">Voltar</button></a>
  </fieldset>
</form>

{% endblock %}