{% extends "template.html" %}
{% block conteudo %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{url_for('static', filename='jquery.mask.js') }}"></script>
<script>
  $(document).ready(function () {
    $('#valor').mask('000.000.000.000.000', {
      reverse: true
    });
    $('#porcentagem').mask('##00.0%', {
      reverse: true
    });
    $('#area').mask('##000m', {
      reverse: true
    });
  });
</script>
<div class="modal fade" id="BairroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="row g-3 needs-validation" action="/novo_bairro" method="post" novalidate id="bairro">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar bairro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="previous" value="{{url_for('editar_terreno', id=imovel._imob_id)}}">
          <div class="form-group">
            <label for="cidade_bairro">Cidade</label>
            <select class="form-select" id="cidade_bairro" name="cidade_bairro" required>
              <option value="" selected>Selecione a tipo</option>
              {% for cidade in cidades %}
              <option value="{{ cidade._id_cidade }}">{{ cidade._cidade_nome}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Por favor insira uma cidade.
            </div>
          </div>
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" class="form-control" required>
            <div class="invalid-feedback">
              Por favor insira um bairro.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade" id="CidadeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="row g-3 needs-validation" action="/nova_cidade" method="post" novalidate id="cidade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CidadeModalLabel">Criar cidade</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="previous" value="{{url_for('editar_terreno', id=imovel._imob_id)}}">
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" class="form-control" required>
            <div class="invalid-feedback">
              Por favor insira uma cidade.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<h1>Cadastro de imovel</h1>

<br>
<fieldset>
  <form id="imovel" action="{{ url_for('cria_imovel') }}" method="post" class="needs-validation" novalidate>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-imovel-tab" data-bs-toggle="tab" href="#nav-imovel" role="tab"
          aria-controls="nav-imovel" aria-selected="true">Imovel</a>
        <a class="nav-link" id="nav-area-tab" data-bs-toggle="tab" href="#nav-area" role="tab" aria-controls="nav-area"
          aria-selected="false">Area</a>
        <a class="nav-link" id="nav-local-tab" data-bs-toggle="tab" href="#nav-local" role="tab"
          aria-controls="nav-local" aria-selected="false">Local</a>
        <a class="nav-link" id="nav-anuncio-tab" data-bs-toggle="tab" href="#nav-anuncio" role="tab"
          aria-controls="nav-anuncio" aria-selected="false">Anuncio</a>
        <a class="nav-link" id="nav-prop-tab" data-bs-toggle="tab" href="#nav-prop" role="tab" aria-controls="nav-prop"
          aria-selected="false">Participação</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-imovel" role="tabpanel" aria-labelledby="nav-imovel-tab">
        <br>

        <div class="row">

          <div class="col-6">
            <label for="tipo" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipo" name="tipo" required value="{{ imovel._tipo }}">
            <div class="invalid-feedback">
              Por favor insira o tipo.
            </div>
          </div>
          <div class="col-6">
            <label for="subtipo" class="form-label">Sub-Tipo</label>
            <input type="text" class="form-control" id="subtipo" name="subtipo" value="{{ imovel._subtipo }}">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="vagas" class="form-label">Vagas</label>
            <input type="number" class="form-control" id="vagas" name="vagas" value="{{ imovel._desc._vagas }}" required>
            <div class="invalid-feedback">
              Por favor insira o vagas.
            </div>
          </div>
          <div class="col-3">
            <label for="banheiro" class="form-label">Banheiro</label>
            <input type="number" class="form-control" id="banheiro" name="banheiro" value="{{ imovel._desc._banheiro }}" required>
            <div class="invalid-feedback">
              Por favor insira o banheiro.
            </div>
          </div>
          <div class="col-3">
            <label for="suites" class="form-label">Suites</label>
            <input type="number" class="form-control" id="suites" name="suites" value="{{ imovel._desc._suite }}" required>
            <div class="invalid-feedback">
              Por favor insira o suites.
            </div>
          </div>
          <div class="col-3">
            <label for="dormitorios" class="form-label">Dormitorios</label>
            <input type="number" class="form-control" id="dormitorios" name="dormitorios" value="{{ imovel._desc._dormitorio }}" required>
            <div class="invalid-feedback">
              Por favor insira o dormitorios.
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-8">
            <div class="row">
              <h4>Descrição</h4>
              <div class="col-3">

                <label for="area_serve" class="form-label">Area de servico</label>
                <input type="number" class="form-control" id="area_serve" name="area_serve" value="{{ imovel._desc._area_serve }}">
                <label for="copa" class="form-label">Copa</label>
                <input type="number" class="form-control" id="copa" name="copa" value="{{ imovel._desc._copa }}">
                <label for="desc_edicula" class="form-label">Edicula</label>
                <input type="number" class="form-control" id="desc_edicula" name="desc_edicula" value="{{ imovel._desc._edicula }}">
                <label for="lareira" class="form-label">Lareira</label>
                <input type="number" class="form-control" id="lareira" name="lareira" value="{{ imovel._desc._lareira }}">
                <label for="portao_elec" class="form-label">Portao eletronico</label>
                <input type="number" class="form-control" id="portao_elec" name="portao_elec" value="{{ imovel._desc._portao_elec }}">
                <label for="hidromsg" class="form-label">Hidromassagem</label>
                <input type="number" class="form-control" id="hidromsg" name="hidromsg" value="{{ imovel._desc._hidromsg }}">
                <label for="piso" class="form-label">Piso</label>
                <input type="number" class="form-control" id="piso" name="piso" value="{{ imovel._desc._piso }}">
                <label for="sacada" class="form-label">Sacada</label>
                <input type="number" class="form-control" id="sacada" name="sacada" value="{{ imovel._desc._sacada }}">
                <label for="sala_vist" class="form-label">Sala de Visita</label>
                <input type="number" class="form-control" id="sala_vist" name="sala_vist" value="{{ imovel._desc._sala_vist }}">
              </div>
              <div class="col-3">
                <label for="sala_estar" class="form-label">Sala de estar</label>
                <input type="number" class="form-control" id="sala_estar" name="sala_estar" value="{{ imovel._desc._sala_estar }}">
                <label for="sotao" class="form-label">Sotao</label>
                <input type="number" class="form-control" id="sotao" name="sotao" value="{{ imovel._desc._sotao }}">
                <label for="amarinho" class="form-label">Amarinho</label>
                <input type="number" class="form-control" id="amarinho" name="amarinho" value="{{ imovel._desc._amarinho }}">
                <label for="cozinha" class="form-label">Cozinha</label>
                <input type="number" class="form-control" id="cozinha" name="cozinha" value="{{ imovel._desc._cozinha }}">
                <label for="escritorio" class="form-label">Escritorio</label>
                <input type="number" class="form-control" id="escritorio" name="escritorio" value="{{ imovel._desc._escritorio }}">
                <label for="lavabo" class="form-label">Lavabo</label>
                <input type="number" class="form-control" id="lavabo" name="lavabo" value="{{ imovel._desc._lavabo }}">
                <label for="sala_jantar" class="form-label">Sala de jantar</label>
                <input type="number" class="form-control" id="sala_jantar" name="sala_jantar" value="{{ imovel._desc._sala_jantar }}">
                <label for="varanda" class="form-label">Varanda</label>
                <input type="number" class="form-control" id="varanda" name="varanda" value="{{ imovel._desc._varanda }}">
                <label for="claraboia" class="form-label">Claraboia</label>
                <input type="number" class="form-control" id="claraboia" name="claraboia" value="{{ imovel._desc._claraboia }}">
              </div>
              <div class="col-3">
                <label for="dep_empregada" class="form-label">Dep. empregada</label>
                <input type="number" class="form-control" id="dep_empregada" name="dep_empregada" value="{{ imovel._desc._dep_empregada }}">
                <label for="garage" class="form-label">Garage</label>
                <input type="number" class="form-control" id="garage" name="garage" value="{{ imovel._desc._garage }}">
                <label for="living_room" class="form-label">Living room</label>
                <input type="number" class="form-control" id="living_room" name="living_room" value="{{ imovel._desc._living_room }}">
                <label for="quintal" class="form-label">Quintal</label>
                <input type="number" class="form-control" id="quintal" name="quintal" value="{{ imovel._desc._quintal }}">
                <label for="sala_tv" class="form-label">Sala tv</label>
                <input type="number" class="form-control" id="sala_tv" name="sala_tv" value="{{ imovel._desc._sala_tv }}">
                <label for="w_c_empregada" class="form-label">w.c. empregada</label>
                <input type="number" class="form-control" id="w_c_empregada" name="w_c_empregada" value="{{ imovel._desc._w_c_empregada }}">
                <label for="closet" class="form-label">Closet</label>
                <input type="number" class="form-control" id="closet" name="closet" value="{{ imovel._desc._closet }}">
                <label for="despensa" class="form-label">Despensa</label>
                <input type="number" class="form-control" id="despensa" name="despensa" value="{{ imovel._desc._despensa }}">
              </div>
            </div>
          </div>
          <div class="col-4">
            <h4>Area Comum</h4>
            <label for="churrasqueira" class="form-label">Churrasqueira</label>
            <input type="number" class="form-control" id="churrasqueira" name="churrasqueira" value="{{ imovel._desc._churrasqueira }}">
            <label for="portaria_24h" class="form-label">Portaria 24 horas</label>
            <input type="number" class="form-control" id="portaria_24h" name="portaria_24h" value="{{ imovel._desc._portaria_24h }}">
            <label for="salao_festa" class="form-label">Salao de Festa</label>
            <input type="number" class="form-control" id="salao_festa" name="salao_festa" value="{{ imovel._desc._salao_festa }}">
            <label for="jd_inverno" class="form-label">jd. de inverno</label>
            <input type="number" class="form-control" id="jd_inverno" name="jd_inverno" value="{{ imovel._desc._jd_inverno }}">
            <label for="quadra" class="form-label">Quadra</label>
            <input type="number" class="form-control" id="quadra" name="quadra" value="{{ imovel._desc._quadra }}">
            <label for="sauna" class="form-label">Sauna</label>
            <input type="number" class="form-control" id="sauna" name="sauna" value="{{ imovel._desc._sauna }}">
            <label for="piscina" class="form-label">Piscina</label>
            <input type="number" class="form-control" id="piscina" name="piscina" value="{{ imovel._desc._pescina }}">
            <label for="entrada_ind" class="form-label">Entrada independente</label>
            <input type="number" class="form-control" id="entrada_ind" name="entrada_ind" value="{{ imovel._desc._entrada_ind }}">
            <label for="quadra_tenis" class="form-label">Quadra de tenis</label>
            <input type="number" class="form-control" id="quadra_tenis" name="quadra_tenis" value="{{ imovel._desc._quadra_tenis }}">
            <label for="playground" class="form-label">Playground</label>
            <input type="number" class="form-control" id="playground" name="playground" value="{{ imovel._desc._playground }}">
            <label for="sala_ginastica" class="form-label">Sala de ginastica</label>
            <input type="number" class="form-control" id="sala_ginastica" name="sala_ginastica" value="{{ imovel._desc._sala_ginastica }}">
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-area" role="tabpanel" aria-labelledby="nav-area-tab">
        <h3>Terreno</h3>
        <div class="col-4">
          <div class="input-group">
            <label class="input-group-text" for="forma">Forma</label>
            <select class="form-select" id="forma" name="forma" required>
              <option value="{{ imovel._forma }}" selected>{{ imovel._forma }}</option>
              <option value="retangulo">Retangulo</option>
              <option value="trapezio">Trapezio</option>
              <option value="quadrado">Quadrado</option>
              <option value="triangular">Triangular</option>
              <option value="irregular">Irregular</option>
            </select>
            <div class="invalid-feedback">
              Por favor insira uma forma.
            </div>
          </div>
        </div>
        <br>
        <div class="col-4">
          <label for="lado-esq" class="form-label">Lado Esquerdo</label>
          <input type="number" class="form-control" id="ladoesq" name="ladoesq" required value="{{ imovel._ladoesq }}">
          <div class="invalid-feedback">
            Por favor insira o lado esquerdo.
          </div>
        </div>
        <div class="col-4">
          <label for="ladodir" class="form-label">Lado Direito</label>
          <input type="number" class="form-control" id="ladodir" name="ladodir" required value="{{ imovel._ladodir }}">
          <div class="invalid-feedback">
            Por favor insira o lado direito.
          </div>
        </div>
        <div class="col-4">
          <label for="ladofrente" class="form-label">Frente</label>
          <input type="number" class="form-control" id="ladofrente" name="ladofrente" required
            value="{{ imovel._frente }}">
          <div class="invalid-feedback">
            Por favor insira a frente.
          </div>
        </div>
        <div class="col-4">
          <label for="ladofundo" class="form-label">Fundos</label>
          <input type="number" class="form-control" id="ladofundo" name="ladofundo" required
            value="{{ imovel._fundo }}">
          <div class="invalid-feedback">
            Por favor insira os fundos.
          </div>
        </div>
        <div class="col-4">
          <label for="metros" class="form-label">Total em m<sup>2</sup></label>
          <input type="number" class="form-control" id="metros" name="metros" required value="{{ imovel._m_total }}">
          <div class="invalid-feedback">
            Por favor insira os metros totais.
          </div>
        </div>
        <br>
        <div class="col-4">
          <div class="input-group">
            <label class="input-group-text" for="topografia">Topografia</label>
            <select class="form-select" id="topografia" name="topografia" required>
              <option value="{{ imovel._topografia }}" selected>{{ imovel._topografia }}</option>
              <option value="aclive">Aclive</option>
              <option value="declive">Declive</option>
              <option value="plano">Plano</option>
            </select>
            <div class="invalid-feedback">
              Por favor insira uma topografia.
            </div>
          </div>
        </div>
        <br>
        <h3>Area do imovel</h3>
        <br>
        <div class="row">
          <div class="col-6">
            <div class="col-4">
              <label for="areautil" class="form-label">Area Util</label>
              <input type="number" class="form-control" id="areautil" name="areautil" required
                value="{{ imovel._area_util }}">
              <div class="invalid-feedback">
                Por favor insira a area util.
              </div>
            </div>
            <div class="col-4">
              <label for="areacons" class="form-label">Area Contruida</label>
              <input type="number" class="form-control" id="areacons" name="areacons" required
                value="{{ imovel._area_contruida }}">
              <div class="invalid-feedback">
                Por favor insira a area construida.
              </div>
            </div>
            <div class="col-4">
              <label for="edicula" class="form-label">Edícula</label>
              <input type="number" class="form-control" id="edicula" name="edicula" required
                value="{{ imovel._edicula }}">
              <div class="invalid-feedback">
                Por favor insira a edicula.
              </div>
            </div>
          </div>
          <div class="col-6">
            <label for="infoarea" class="form-label">Informações adcionais</label>
            <textarea name="infoarea" id="infoarea" cols="60" rows="5">{{imovel._info_area}}</textarea>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="nav-local" role="tabpanel" aria-labelledby="nav-local-tab">
        <div class="row">
          <div class="col-8">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco" required
              value="{{ imovel._endereco }}">
            <div class="invalid-feedback">
              Por favor insira um endereco.
            </div>
          </div>
          <div class="col-2">
            <label for="numero" class="form-label">Numero</label>
            <input type="number" class="form-control" id="numero" name="numero" required value="{{ imovel._numero }}">
            <div class="invalid-feedback">
              Por favor insira um numero.
            </div>
          </div>
          <div class="col-2">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" required value="{{ imovel._cep }}">
            <div class="invalid-feedback">
              Por favor insira um cep.
            </div>
          </div>
        </div>
        <br>
        <div class="input-group">
          <label class="input-group-text" for="cidades">Cidade</label>
          <select class="form-select" id="cidades" name="cidades" required>
            <option value="{{ imovel._cidade._id_cidade }}" selected>{{imovel._cidade._cidade_nome}}</option>
            {% for cidade in cidades %}
            <option value="{{ cidade._id_cidade }}">{{ cidade._cidade_nome}}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Por favor insira uma cidade.
          </div>

          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CidadeModal"><i><img
                src="../static/img/icon/plus.svg" alt=""></i> Criar cidade </button>

        </div>
        <br>
        <div class="input-group">
          <label class="input-group-text" for="bairros">Bairros</label>
          <select class="form-select" id="bairros" name="bairros" required>
            <option value="{{ imovel._bairro._id_bairro }}" selected>{{ imovel._bairro._bairro_nome }}</option>
            {% for bairro in bairros %}

            <option data-cid="{{bairro._id_cid}}" value="{{ bairro._id_bairro }}">{{bairro._bairro_nome}} /
              {{bairro._bairro_cid_nome}}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Por favor insira um bairro.
          </div>

          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#BairroModal"><i><img
                src="../static/img/icon/plus.svg" alt=""></i> Criar bairro </button>

        </div>
        <br>
        <label for="inflocal" class="form-label"></label>
        <textarea name="inflocal" id="inflocal" cols="60" rows="5">{{ imovel._info_end }}</textarea>
      </div>
      <br>
      <div class="tab-pane fade" id="nav-anuncio" role="tabpanel" aria-labelledby="nav-anuncio-tab">
        <div class="row">
          <div class="col-4">
            <div class="input-group-checkbox">
              <label for="placa" class="form-label">Fixar Placa:</label>
              {% if imovel._placa == 1 %}
              <input type="checkbox" name="placa" id="placa" value="1" checked>
              {% else %}
              <input type="checkbox" name="placa" id="placa" value="1">
              {% endif %}
            </div>
          </div>
          <div class="col-8">
            <div class="input-group">
              <label for="url" class="form-label">URL</label>
              <input type="url" class="form-control" name="url" id="url" value="{{ imovel._url }}">
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            <div class="input-group-date">
              <label for="dataplaca" class="form-label">Data de fixação da placa</label>
              <input type="date" class="form-control" name="dataplaca" id="dataplaca" value="{{ imovel._data_placa }}">
            </div>

            <div class="input-group-date">
              <label for="datavis" class="form-label">Data da visita</label>
              <input type="date" class="form-control" name="datavis" id="datavis" value="{{ imovel._data_visita }}">
            </div>
            <div class="input-group-date">
              <label for="dataultvis" class="form-label">Data da ultima vistora</label>
              <input type="date" class="form-control" name="dataultvis" id="dataultvis"
                value="{{ imovel._data_ultvis }}">
            </div>
          </div>
          <br>
          <div class="col-6">
            <div class="input-group">
              <label for="codanun" class="form-label">Codigo de anuncio</label>
              <input type="text" class="form-control" name="codanun" id="codanun" value="{{ imovel._codigo }}">
            </div>
            <br>
            <div class="input-group">
              <label for="infoanun" class="form-label">Info anuncio: </label>
              <textarea name="infoanun" class="form-control" id="infoanun" cols="60"
                rows="5">{{imovel._info_anun}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-prop" role="tabpanel" aria-labelledby="nav-prop-tab">
        <br>
        <div class="mb-3">
          <select class="js-example-responsive" style="width: 50%" name="proprietario" id="proprietario" required>
            <option value="{{ imovel._proprietario._id }}" selected>{{ imovel._proprietario._nome }}</option>
            {% for proprietario in proprietarios %}
            <option value="{{ proprietario._id }}">{{ proprietario._nome }}</option>
            {% endfor %}
          </select>
          <label for="proprietario">Proprietario</label>
          <div class="invalid-feedback">
            Por favor insira um proprietario.
          </div>
        </div>
        <br>
        <div class="mb-3">
          <select class="js-example-responsive" style="width: 50%" name="corretor" id="corretor" required>
            <option value="{{ imovel._corretor._id_corr }}" selected>{{ imovel._corretor._nome }}</option>
            {% for corretor in corretores %}
            <option value="{{ corretor._id_corr }}">{{ corretor._nome }}</option>
            {% endfor %}
          </select>
          <label for="corretor">Corretor</label>
          <div class="invalid-feedback">
            Por favor insira um corretor.
          </div>
        </div>
        <script>
          $(document).ready(function () {
            $('#corretor').select2({
              width: 'resolve'
            });
          });

          $(document).ready(function () {
            $('#proprietario').select2({
              width: 'resolve'
            });
          });
        </script>
        <br>
        <div class="form-group">
          <label for="valor">Valor do imovel</label>
          <input type="text" id="valor" name="valor" class="form-control" required value="{{ imovel._valor_imovel }}">
          <div class="invalid-feedback">
            Por favor insira um valor.
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="porcentagem">Taxa de Corretagem</label>
          <input type="text" id="porcentagem" name="porcentagem" class="form-control" required
            value="{{ imovel._taxa }}">
          <div class="invalid-feedback">
            Por favor insira uma porcentagem.
          </div>
        </div>
        <div class="form-group">
          <label for="valorvenda">Valor de venda</label>
          <input type="text" id="valorvenda" name="valorvenda" class="form-control" readonly
            value="{{ imovel._valor_venda }}">
        </div>
        <div class="form-group">
          <label for="repasse">Repasse para imobiliaria</label>
          <input type="text" id="repasse" name="repasse" class="form-control" readonly value="{{ imovel._repasse }}">
        </div>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
    <a href="{{url_for('index')}}"><button type="button" class="btn btn-danger">Voltar</button></a>
  </form>


</fieldset>
<script>
  document.getElementById('porcentagem').addEventListener('keyup', (event) => {
    console.log(event)
    valorimovel = document.getElementById('valor').value.replace('.', '')
    taxa = document.getElementById('porcentagem').value.replace('%', '')
    valorvenda = parseInt(valorimovel) + (parseInt(valorimovel) * parseFloat(taxa / 100))
    repasse = (parseInt(valorimovel) * parseFloat(taxa / 100))
    console.log(valorvenda)
    document.getElementById('valorvenda').value = valorvenda
    document.getElementById('repasse').value = repasse
  })
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="{{ url_for('static', filename='js/storage_form_terreno.js')}}"></script>

{% endblock %}