{% extends "template.html" %}
{% block conteudo %}

    <div class="container">
        <br>
        <div class="row row-cols-auto">
            <div class="col-sm-3">
          <nav class="navbar navbar-light bg-light">
              <div class="card-body">
                  <div class="align-items-center row">
                      <div class="col"><h6 class="text-uppercase text-muted mb-2">Valor total de vendas:</h6>
                          <span class="h2 mb-0">R$ {{total_vendas}}0</span><span class="mt-n1 ms-2 badge bg-success-soft"></span>
                      </div>
                      <div class="col-auto">
                          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign text-muted">
                      <g><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6">

                      </path></g>
                          </svg>
                      </div>
                  </div>
              </div>
              <div>
                    <canvas id="myChart"></canvas>
                </div>
        </nav>
                </div>
            <div class="col-sm-9">
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default" >
        <tr>
            <th>ID</th>
            <th>Honorarios do corretor</th>
            <th>Porcentagem do corretor</th>
            <th>Honorarios da imobiliaria</th>
            <th>Porcentagem da imobiliaria</th>
            <th>Nome do corretor</th>
            <th>Endereço do imovel</th>
            <th>Valor total de honorarios</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for fin in financeiros %}
                <tr>
                    <td>{{fin._id_fin}}</td>
                    <td>R$ {{fin._honorarios_corr}}0</td>
                    <td>{{fin._porcentagem_corr}} %</td>
                    <td>R$ {{fin._honorarios_imob}}0</td>
                    <td>{{fin._porcentagem_imob}} %</td>
                    <td>{{fin._corr}}</td>
                    <td>{{fin._imob}}</td>
                    <td>R$ {{fin._honorarios_total}}0</td>
                    <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal_fin{{ fin._id_fin}}"><i>
                    <img src="../static/img/icon/percent.svg"></i></button>

                                    <div class="modal fade" id="modal_fin{{ fin._id_fin}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <form class="row row-cols-2 needs-validation" action="/atualizar_finceiro" method="post" novalidate>
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Insira os valores desejados para a venda {{ fin._id_fin }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                            <input type="hidden" name="id" value="{{fin._id_fin}}">
                                <div class="row row-cols-2">
                                     <div class="col">
                                         <div class="form-group">
                                            <label for="porcentagem_corr">Porcentagem/corretor</label>
                                    <input type="text" id="porcentagem_corr" name="porcentagem_corr" class="form-control" required>
                                                        <div class="invalid-feedback">
                                                    Por favor insira uma porcentagem para o corretor.
              </div>
          </div>
    </div>
    <div class="col">

        <div class="form-group">
            <label for="valor_corr">Valor/corretor</label>
            <input type="text" id="valor_corr" name="valor_corr" class="form-control" required>
                        <div class="invalid-feedback">
              Por favor insira um valor para o corretor.
              </div>
          </div>
    </div>
    <div class="col">
                <div class="form-group">
            <label for="porcentagem_imob">Porcentagem/imobiliaria</label>
            <input type="text" id="porcentagem_imob" name="porcentagem_imob" class="form-control" required>
                        <div class="invalid-feedback">
              Por favor insira uma porcentagem para a imobiliaria.
              </div>
          </div>

    </div>
    <div class="col">
        <div class="form-group">
            <label for="valor_imob">Valor/imobiliaria</label>
            <input type="text" id="valor_imob" name="valor_imob" class="form-control" required>
                        <div class="invalid-feedback">
              Por favor insira um valor para a imobiliaria.
              </div>
          </div>
    </div>
  </div>
                                    </div>
                                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-dark">Salvar</button>
                      </div>
                    </div>
                  </div></form>
                </div></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // === include 'setup' then 'config' above ===

const data = {
  labels: [
    'Valor dos corretores',
    'Valor da imobiliaria',
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [{{total_honorarios_corr}}, {{total_honorarios_imob}}],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
    ],
    hoverOffset: 4
  }]
};

    const config = {
  type: 'doughnut',
  data: data,
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Distribuição de honorarios',
            },
            subtitle: {
                display: true,
                position: 'bottom',
                text: 'Total de honorarios: {{total_honorarios}}',
            }
        }
    }
};


  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% endblock %}