{% extends "template.html" %}
{% block conteudo %}

    <div class="container">
        <br>
        <div class="row row-cols-5">
            <div class="col-2">
          <nav class="navbar navbar-light bg-light">
              <h5>Total de vendas: R$ {{total_vendas}}0</h5>
              <br>
               <h5>Total de honorarios: R$ {{total_honorarios}}0</h5>
              <br>
                <h5>Total de honorarios distribuidos para os corretores: R$ {{total_honorarios_corr}}0</h5>
              <br>
              <h5>Total de honorarios para imobiliaria: R$ {{total_honorarios_imob}}0</h5>
        </nav>
                </div>
            <div class="col-10">
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default" >
        <tr>
            <th>ID</th>
            <th>Honorarios do corretor</th>
            <th>Porcentagem do corretor</th>
            <th>Honorarios da imobiliaria</th>
            <th>Porcentagem da imobiliaria</th>
            <th>Nome do corretor</th>
            <th>Endereço do imovel</th>
            <th>Valor total de honorarios</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for fin in financeiros %}
                <tr>
                    <td>{{fin._id_fin}}</td>
                    <td>R$ {{fin._honorarios_corr}}0</td>
                    <td>{{fin._porcentagem_corr}} %</td>
                    <td>R$ {{fin._honorarios_imob}}0</td>
                    <td>{{fin._porcentagem_imob}} %</td>
                    <td>{{fin._corr}}</td>
                    <td>{{fin._imob}}</td>
                    <td>R$ {{fin._honorarios_total}}0</td>
                    <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modal_fin{{ fin._id_fin}}"><i>
                    <img src="../static/img/icon/percent.svg"></i></button>

                                    <div class="modal fade" id="modal_fin{{ fin._id_fin}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <form class="row row-cols-2 needs-validation" action="/atualizar_finceiro" method="post" novalidate>
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Insira os valores desejados para a venda {{ fin._id_fin }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                            <input type="hidden" name="id_corr" value="{{fin._id_cor}}">
                            <input type="hidden" name="id_imob" value="{{fin._id_imob}}">
                            <input type="hidden" name="id" value="{{fin._id_fin}}">
                                <div class="row row-cols-2">
                                     <div class="col">
                                         <div class="form-group">
                                            <label for="porcentagem_corr">Porcentagem/corretor</label>
                                    <input type="text" id="porcentagem_corr" name="porcentagem_corr" class="form-control" required>
                                                        <div class="invalid-feedback">
                                                    Por favor insira uma porcentagem para o corretor.
              </div>
          </div>
    </div>
    <div class="col">

        <div class="form-group">
            <label for="valor_corr">Valor/corretor</label>
            <input type="text" id="valor_corr" name="valor_corr" class="form-control" required>
                        <div class="invalid-feedback">
              Por favor insira um valor para o corretor.
              </div>
          </div>
    </div>
    <div class="col">
                <div class="form-group">
            <label for="porcentagem_imob">Porcentagem/imobiliaria</label>
            <input type="text" id="porcentagem_imob" name="porcentagem_imob" class="form-control" required>
                        <div class="invalid-feedback">
              Por favor insira uma porcentagem para a imobiliaria.
              </div>
          </div>

    </div>
    <div class="col">
        <div class="form-group">
            <label for="valor_imob">Valor/imobiliaria</label>
            <input type="text" id="valor_imob" name="valor_imob" class="form-control" required>
                        <div class="invalid-feedback">
              Por favor insira um valor para a imobiliaria.
              </div>
          </div>
    </div>
  </div>
                                    </div>
                                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-dark">Salvar</button>
                      </div>
                    </div>
                  </div></form>
                </div></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>

{% endblock %}