{% extends "template.html" %}
{% block conteudo %}
<div class="content-list">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-corretor-tab" data-bs-toggle="tab" href="#nav-corretor" role="tab" aria-controls="nav-corretor" aria-selected="true">Lista de Corretor</a>
    <a class="nav-link" id="nav-imovel-tab" data-bs-toggle="tab" href="#nav-imovel" role="tab" aria-controls="nav-imovel" aria-selected="false">Lista de Imovel</a>
    <a class="nav-link" id="nav-prop-tab" data-bs-toggle="tab" href="#nav-prop" role="tab" aria-controls="nav-prop" aria-selected="false">Lista de proprietario</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-corretor" role="tabpanel" aria-labelledby="nav-corretor-tab">
    <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for corretor in corretores %}
                    <tr>
                        <td>{{ corretor._id }}</td>
                        <td>{{ corretor._nome }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
  <div class="tab-pane fade" id="nav-imovel" role="tabpanel" aria-labelledby="nav-imovel-tab">
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>id</th>
                    <th>sigla</th>
                    <th>tipo</th>
                    <th>bairro</th>
                    <th>quadra</th>
                    <th>lote</th>
                    <th>proprietario</th>
                    <th>telefone</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                {% for imovel in imoveis %}
                    <tr>
                        <td>{{ imovel._id}}</td>
                        <td>{{ imovel._sigla }}</td>
                        <td>{{ imovel._tipo }}</td>
                        <td>{{ imovel._bairro}}</td>
                        <td>{{ imovel._quadra}}</td>
                        <td>{{ imovel._lote }}</td>
                        {% for proprietario in proprietarios %}
                            {% if imovel._proprietario_id == proprietario._id%}
                                <td>{{ proprietario._nome}}</td>
                                <td>{{ proprietario._telefone}}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ imovel._status }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
  </div>
  <div class="tab-pane fade" id="nav-prop" role="tabpanel" aria-labelledby="nav-prop-tab">
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for proprietario in proprietarios %}
                <tr>
                    <td>{{ proprietario._id }}</td>
                    <td>{{ proprietario._nome }}</td>
                    <td>{{ proprietario._cpf }}</td>
                    <td>{{ proprietario._telefone }}</td>
                    <td>{{ proprietario._email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
</div>
</div>
{% endblock %}