{% extends "template.html" %}
{% block conteudo %}


<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<script src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{url_for('static', filename='jquery.mask.js') }}"></script>
<script>
  $(document).ready(function () {
    $('#rg').mask('00.000.000-0');
    $('#telefone').mask('(00) 0000-0000');
    $('#celular').mask('(00) 00000-0000');
    $('#whatsapp').mask('(00) 00000-0000');
    $('#cpf').mask('000.000.000-00');
    $('#doc_estadual').mask('000.000.000/0000');
    $('#doc_federal').mask('00.000.000/0000-00');
    $('#cep').mask('00000-000');
  });
</script>
<div class="modal fade" id="BairroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="row g-3 needs-validation" action="/novo_bairro" method="post" novalidate id="bairro">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Criar bairro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="previous" value="/Proprietario">

          <div class="form-group">
            <label for="cidade_bairro">Cidade</label>
            <select class="form-select" id="cidade_bairro" name="cidade_bairro" required>
              <option value="" selected>Selecione a tipo</option>
              {% for cidade in cidades %}
              <option value="{{ cidade._id_cidade }}">{{ cidade._cidade_nome}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Por favor insira uma cidade.
            </div>
          </div>
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" class="form-control" required>
            <div class="invalid-feedback">
              Por favor insira um bairro.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal fade" id="CidadeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="row g-3 needs-validation" action="/nova_cidade" method="post" novalidate id="cidade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CidadeModalLabel">Criar cidade</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="previous" value="/Proprietario">

          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade" class="form-control" required>
                <div class="invalid-feedback">
                  Por favor insira uma cidade.
                </div>
              </div>
            </div>
            <div class="col-4">
              <div>
                <label for="uf">UF</label>
                <select class="form-select" id="uf" name="uf" aria-label="Default select example">
                  <option selected></option>
                  <option value="ac">ac</option>
                  <option value="al">al</option>
                  <option value="ap">ap</option>
                  <option value="am">am</option>
                  <option value="ba">ba</option>
                  <option value="ce">ce</option>
                  <option value="df">df</option>
                  <option value="es">es</option>
                  <option value="go">go</option>
                  <option value="ma">ma</option>
                  <option value="mt">mt</option>
                  <option value="ms">ms</option>
                  <option value="mg">mg</option>
                  <option value="pa">pa</option>
                  <option value="pb">pb</option>
                  <option value="pr">pr</option>
                  <option value="pe">pe</option>
                  <option value="pi">pi</option>
                  <option value="rj">rj</option>
                  <option value="rn">rn</option>
                  <option value="rs">rs</option>
                  <option value="ro">ro</option>
                  <option value="rr">rr</option>
                  <option value="sc">sc</option>
                  <option value="sp">sp</option>
                  <option value="se">se</option>
                  <option value="to">to</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
        </div>
      </div>
    </div>
  </form>
</div>
<h1>Cadastro de Proprietario</h1>
<br>

<fieldset>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-corretor-tab" data-bs-toggle="tab" href="#nav-fisica" role="tab"
        aria-controls="nav-corretor" aria-selected="true">Pessoa Fisica</a>
      <a class="nav-link" id="nav-imovel-tab" data-bs-toggle="tab" href="#nav-juridica" role="tab"
        aria-controls="nav-imovel" aria-selected="false">Pessoa Juridica</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-fisica" role="tabpanel" aria-labelledby="nav-fisica-tab">
      <form id="form-fisica" action="/cad_prop?tipo_pessoa=0" method="post" class="needs-validation" novalidate>
        <br>
        <div class="row">
          <div class="col-10">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control" id="nome" required>
            <div class="invalid-feedback">
              Por favor insira um nome.
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-4">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="doc_federal">
            <div class="invalid-feedback">
              Por favor insira um cpf.
            </div>
          </div>
          <div class="col-4">
            <label for="rg" class="form-label">RG</label>
            <input type=text class="form-control" id="rg" name="doc_estadual">
            <div class="invalid-feedback">
              Por favor insira um rg.
            </div>
          </div>
          <div class="col-4">
            <label for="sexo" class="form-label">Sexo</label>
            <select class="form-select" name="sexo" id="sexo" required>
              <option value="m">Masculino</option>
              <option value="f">Feminino</option>
            </select>
            <div class="invalid-feedback">
              Por favor insira um sexo.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco" required>
            <div class="invalid-feedback">
              Por favor insira um endereco.
            </div>
          </div>
          <div class="col-2">
            <label for="numero" class="form-label">Numero</label>
            <input type="number" class="form-control" id="numero" name="numero" required>
            <div class="invalid-feedback">
              Por favor insira um numero.
            </div>
          </div>
          <div class="col-2">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" required>
            <div class="invalid-feedback">
              Por favor insira um cep.
            </div>
          </div>
        </div>
        <br>
        <div class="input-group">
          <label class="input-group-text" for="cidades">Cidade</label>
          <select class="form-select" id="cidades" name="cidades" required>
            <option value="" selected>Selecione a cidade</option>
            {% for cidade in cidades %}
            <option value="{{ cidade._id_cidade }}">{{ cidade._cidade_nome}}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Por favor insira uma cidade.
          </div>

          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CidadeModal"><i><img
                src="../static/img/icon/plus.svg" alt=""></i> Criar cidade </button>

        </div>
        <br>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="search_barr" placeholder="Busque pelo bairros" aria-label="search" disabled>
          <label class="input-group-text" for="bairros">Bairros</label>
          <select class="form-select" id="bairros" name="bairros" required>
            <option value="" selected>Nenhum bairro encontrado</option>
          </select>
          <div class="invalid-feedback">
            Por favor insira um bairro.
          </div>

          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#BairroModal"><i><img
                src="../static/img/icon/plus.svg" alt=""></i> Criar bairro </button>

        </div>
        <br>
        <div class="row">
          <div class="col-8">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">

          </div>
          <div class="col-4">
            <label for="whatsapp" class="form-label">WhatsApp</label>
            <input type="text" class="form-control" id="whatsapp" name="whatsapp">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" class="form-control" id="celular" name="celular">
          </div>
          <div class="col-6">
            <label for="telefone" class="form-label">Telefone fixo</label>
            <input type="text" class="form-control" id="telefone" name="telefone">
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Salvar</button>
        <a href="{{url_for('index')}}"><button type="button" class="btn btn-danger">Voltar</button></a>
      </form>
    </div>
    <div class="tab-pane fade" id="nav-juridica" role="tabpanel" aria-labelledby="nav-juridica-tab">
      <form id="form-juridica" action="/cad_prop?tipo_pessoa=1" method="post" class="needs-validation" novalidate>
        <br>
        <div class="row">
          <div class="col-10">
            <label for="nome-fantasia" class="form-label">Nome Fantasia</label>
            <input type="text" name="nome" class="form-control" id="nome-fantasia" required>
            <div class="invalid-feedback">
              Por favor insira uma Nome Fantasia.
            </div>
          </div>
          <div class="col-10">
            <label for="razao" class="form-label">Razao Social</label>
            <input type="text" name="razao" class="form-control" id="razao" required>
            <div class="invalid-feedback">
              Por favor insira uma Razao Social.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="doc_federal" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="doc_federal" name="doc_federal" required>
            <div class="invalid-feedback">
              Por favor insira um CNPJ.
            </div>
          </div>
          <div class="col-4">
            <label for="doc_estadual" class="form-label">Inscrição estadual</label>
            <input type=text class="form-control" id="doc_estadual" name="doc_estadual" required>
            <div class="invalid-feedback">
              Por favor insira um Inscrição estadual.
            </div>
          </div>
          <div class="col-4">
            <label for="atividade" class="form-label">Atividade principal</label>
            <input type=text class="form-control" id="atividade" name="atividade" required>
            <div class="invalid-feedback">
              Por favor insira uma atividade.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <label for="endereco-jur" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco-jur" name="endereco" required>
            <div class="invalid-feedback">
              Por favor insira um endereco.
            </div>
          </div>
          <div class="col-2">
            <label for="numero-jur" class="form-label">Numero</label>
            <input type="number" class="form-control" id="numero-jur" name="numero" required>
            <div class="invalid-feedback">
              Por favor insira um numero.
            </div>
          </div>
          <div class="col-2">
            <label for="cep-jur" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep-jur" name="cep" required>
            <div class="invalid-feedback">
              Por favor insira um cep.
            </div>
          </div>
        </div>
        <br>
        <div class="input-group">
          <label class="input-group-text" for="cidades-jur">Cidade</label>
          <select class="form-select" id="cidades-jur" name="cidades" required>
            <option value="" selected>Selecione a cidade</option>
            {% for cidade in cidades %}
            <option value="{{ cidade._id_cidade }}">{{ cidade._cidade_nome}}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            Por favor insira uma cidade.
          </div>

          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CidadeModal"><i><img
                src="../static/img/icon/plus.svg" alt=""></i> Criar cidade </button>

        </div>
        <br>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="search_barr-jur" placeholder="Busque pelo bairros" aria-label="search" disabled>
          <label class="input-group-text" for="bairros">Bairros</label>
          <select class="form-select" id="bairros" name="bairros-jur" required>
            <option value="" selected>Nenhum bairro encontrado</option>
          </select>
          <div class="invalid-feedback">
            Por favor insira um bairro.
          </div>

          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#BairroModal"><i><img
                src="../static/img/icon/plus.svg" alt=""></i> Criar bairro </button>

        </div>
        <br>
        <div class="row">
          <div class="col-8">
            <label for="email-jur" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-jur" name="email">

          </div>
          <div class="col-4">
            <label for="whatsapp-jur" class="form-label">WhatsApp</label>
            <input type="text" class="form-control" id="whatsapp-jur" name="whatsapp">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="celular-jur" class="form-label">Celular</label>
            <input type="text" class="form-control" id="celular-jur" name="celular">
          </div>
          <div class="col-6">
            <label for="telefone-jur" class="form-label">Telefone fixo</label>
            <input type="text" class="form-control" id="telefone-jur" name="telefone">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="capital" class="form-label">Capital registrado</label>
            <input type="text" class="form-control" id="capital" name="capital">
          </div>
          <div class="col-6">
            <label for="patrimonio" class="form-label">Patrimonio Liquido</label>
            <input type="text" class="form-control" id="patrimonio" name="patrimonio">
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Salvar</button>
        <a href="{{url_for('index')}}"><button type="button" class="btn btn-danger">Voltar</button></a>
      </form>
    </div>

</fieldset>
<script>
  

const cidades_jur = document.querySelector('#cidades-jur')
cidades.addEventListener('change',()=>{
  console.log(cidades.value)
  if(cidades.value!=''){
    document.querySelector('#search_barr-jur').removeAttribute('disabled')
  }else{
    document.querySelector('#search_barr-jur').setAttribute('disabled','')
  }
})
const bairro_select_jur = document.querySelector("#bairros-jur")
const search_jur = document.querySelector('#search_barr-jur')

async function search_bairro_jur(){
    let cidade = cidades_jur.value
    let bairro = search_jur.value
    const response = await fetch("/procura_bairro",{
      method: "POST",
      body: JSON.stringify({
        "cid_id": cidade,
        "bairro_nome": bairro
      }),
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    })
    let bairro_reposense = await response.json()
    return bairro_reposense
}

function make_bairro_select_jur(bairro_list){
      
      bairro_list.forEach(bairro => {
          bairro_select_jur.innerHTML += `<option value="${bairro._id_bairro}">${bairro._bairro_nome}</option>`
      });
}

function remove_selectOptionBairro_jur(list) {
  for (item of list) {
    item.remove()
  }
}

search.addEventListener('keyup', async ()=>{
  ENTER_KEY_ID = 13
  if (event.keyCode == ENTER_KEY_ID){
    let option_to_remove = bairro_select_jur.children
    console.log(bairro_select_jur.children)
    await remove_selectOptionBairro_jur(option_to_remove)
    let bairro_list = await search_bairro_jur()
    if (bairro_list.length > 0)
      make_bairro_select_jur(bairro_list)
  }
})
</script>
<script src="{{url_for('static', filename='js/storage_form_prop.js')}}"></script>
{% endblock %}