{% extends "template.html" %}
{% block conteudo %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="{{url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
  <script src="{{url_for('static', filename='jquery.mask.js') }}"></script>
  <script>
   $(document).ready(function (){
      $('#valor').mask('000.000.000.000.000', {reverse: true});
      $('#porcentagem').mask('##00.0%', {reverse: true});
      $('#area').mask('##000m', {reverse: true});
  });
  </script>

<h1>Cadastro de imoveis</h1>
<br>
<form class="row g-3" action="/criar_imovel" method="post">
    <fieldset>
    <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-corretor-tab" data-bs-toggle="tab" href="#nav-corretor" role="tab" aria-controls="nav-corretor" aria-selected="true">Cadastro do Imovel</a>
    <a class="nav-link" id="nav-imovel-tab" data-bs-toggle="tab" href="#nav-imovel" role="tab" aria-controls="nav-imovel" aria-selected="false">Descrição Imovel</a>
    <a class="nav-link" id="nav-prop-tab" data-bs-toggle="tab" href="#nav-prop" role="tab" aria-controls="nav-prop" aria-selected="false">Proprietario e Corretor</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-corretor" role="tabpanel" aria-labelledby="nav-corretor-tab">
      <br>
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <input type="text" id="tipo" name="tipo" class="form-control">
          </div>
      <br>
          <div class="form-group">
            <label for="finalidade">Finalidade</label>
            <select class="form-select" id="finalidade" name="finalidade">
                <option value="0" selected>Selecione a finalidade</option>
                    <option value="Residencial">Residencial</option>
                    <option value="Comercial">Comercial</option>
                    <option value="Industrial">Industrial</option>
            </select>
          </div>
      <br>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" class="form-control">
          </div>
      <br>
        <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" class="form-control">
          </div>
      <br>

        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" id="endereco" name="endereco" class="form-control">
          </div>
  </div>
  <div class="tab-pane fade" id="nav-imovel" role="tabpanel" aria-labelledby="nav-imovel-tab">
      <br>
        <div class="form-group">
            <label for="area">Àrea</label>
            <input type="text" id="area" name="area" class="form-control">
          </div>
      <br>
        <div class="form-group">
             <span class="form-group-text">Detalhes do imóvel </span>
            <textarea class="form-control" aria-label="With textarea" id="detalhes" name="detalhes"></textarea>
        </div>
      <br>
      <div class="form-group">
            <label for="banheiro">Banheiro</label>
            <input type="text" id="banheiro" name="banheiro" class="form-control">
          </div>
      <br>
            <div class="form-group">
            <label for="quartos">Quartos</label>
            <input type="text" id="quartos" name="quartos" class="form-control">
          </div>
      <br>
            <div class="form-group">
            <label for="garagem">Garagem</label>
            <input type="text" id="garagem" name="garagem" class="form-control">
          </div>
      <br>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="text" id="valor" name="valor" class="form-control">
          </div>
      <br>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-select" id="status" name="status">
              <option value="0" selected>Selecione o Status</option>
                    <option value="Livre">Livre</option>
                    <option value="Ocupado">Ocupado</option>
                    <option value="Vendido">Vendido</option>
            </select>
          </div>
      <br>
        <div class="form-group">
            <label for="porcentagem">Porcentagem</label>
            <input type="text" id="porcentagem" name="porcentagem" class="form-control">
          </div>
  </div>
  <div class="tab-pane fade" id="nav-prop" role="tabpanel" aria-labelledby="nav-prop-tab">
      <br>
        <div class="mb-3">
            <select class="form-select" name="proprietario" id="proprietario">
                    <option value="0" selected>Selecione o proprietario</option>
                    {% for proprietario in proprietarios %}
                        <option value="{{ proprietario._id }}">{{ proprietario._nome }}</option>
                    {% endfor %}
            </select>
            <label for="proprietario">Proprietario</label>
          </div>
      <br>
        <div class="mb-3">
            <select class="form-select" name="corretor" id="corretor">
                <option value="0" selected>Selecione o Corretor</option>
                {% for corretor in corretores %}
                        <option value="{{ corretor._id_corr }}">{{ corretor._nome }}</option>
                {% endfor %}
            </select>
            <label for="corretor">Corretor</label>
        </div>
   <script>
        $(document).ready(function() {
            $('#corretor').select2();
        });

        $(document).ready(function() {
            $('#proprietario').select2();
        });
    </script>
  </div>
</div>
        <br>
          <button type="submit" class="btn btn-dark btn-salvar">Salvar</button>
        <a href="{{url_for('index')}}"><button type="button" class="btn btn-danger">Voltar</button></a>

    </fieldset>
</form>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}