{% extends "template.html" %}
{% block conteudo %}
<div id="View_imovel">
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Informações do Imovel</th>
            </tr>
        </thead>
    </table>
    <br>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>ID: {{imovel._imob_id}}</th>
                <th>Cidade: {{imovel._cidade._cidade_nome}}</th>
                <th>Status: {{imovel._status}}</th>
            </tr>
            <tr>
                <th>Tipo: {{imovel._tipo._tipo_nome}}</th>
                <th>Bairro: {{imovel._bairro._bairro_nome}}</th>
                <th>Descrição: {{imovel._descricao}}</th>
            </tr>
            <th>Finalidade: {{imovel._finalidade}}</th>
            <th>Numero de quartos: {{imovel._quartos}}</th>
            <tr>
                <th>Area: {{imovel.area}}m</th>
                <th>Numero de garagens: {{imovel._garagem}}</th>
            </tr>
            <tr>
                <th>Valor de venda: R$ {{imovel._valor_venda}}0</th>
                <th>Numero de banheiros: {{imovel._banheiro}}</th>
            </tr>
        </thead>
    </table>
        <br>
    <br>
    <p>
    <hr width="50%" color="black">
    </p>
</div>
<br>
<button type="button" class="btn btn-dark" onclick="CriaPDF()">Imprimir </button>
<a href="{{url_for('view_imovel', id=imovel._imob_id)}}"><button type="button" class="btn btn-danger">Voltar</button></a>
<script>
    function CriaPDF() {
        var minhaTabela = document.getElementById('View_imovel').innerHTML;
        var style = "<style>";
        style = style + "table {width: 100%;font: 20px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";
        var win = window.open('', '', 'height=400,width=600');
        win.document.write('<html><head>');
        win.document.write('<title>Informações do imovel</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(minhaTabela);
        win.document.write('</body></html>');
        win.document.close();
        win.print();
    }
</script>
{% endblock %}