<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <style>
    .container-fluid {
      width: 94%;
    }

    .block-conteudo {
      margin: 50px;
    }
    .content-block {
      margin-top: 15px;
      margin-left: 0px;
    }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}"><img src="../static/img/icon/icon.png" class="rounded float-start" alt=""></a>
      <div>
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     <strong> {{session['nome_usuario']}}</strong>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% if session['usuario_id'] != 5 %}
      <li><a class="dropdown-item" href="{{url_for('editar_corretor', id=session['usuario_id'])}}"><button type="button" class="btn"><i><img src="../static/img/icon/gear.svg"></i></button>Configurar</a></li>
        {% endif %}
      <li><a class="dropdown-item" href="{{url_for('logout')}}"><button type="button" class="btn"><i><img src="../static/img/icon/logout.svg"></i></button>Sair</a></li>
  </ul>
</div>
    </div>
  </div>
</nav>
<article>


    <nav class="navbar navbar-light bg-success">

  <div class="container-fluid">
    <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">
            <a class="navbar-brand" href="{{url_for('index')}}"><img src="../static/img/icon/icon_menu.png"  class="rounded-circle" alt=""></a>
            <h4>Imobilfacil</h4>
        </h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}"><i><img src="../static/img/icon/home.svg" alt=""></i>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('Corretor')}}"><i><img src="../static/img/icon/salerman.svg" alt=""></i>Cadastrar corretor</a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" href="{{url_for('novo_imovel')}}"><i><img src="../static/img/icon/imovel.svg" alt=""></i>Cadastrar imovel</a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" href="{{url_for('Proprietario')}}"><i><img src="../static/img/icon/person.svg" alt=""></i>Cadastrar proprietario</a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" href="{{url_for('financeiro')}}"><i><img src="../static/img/icon/finance.svg" alt=""></i>Financeiro</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>

    <div class="block-conteudo">
        <div class="shadow p-3 mb-5 bg-body rounded">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> {{ message }}.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="content-block">
            {% block conteudo %}

            {% endblock %}
                </div>
        </div>
    </div>
</article>
<footer class="text-center text-lg-start bg-light text-muted">
    <br>
    <br>
    <br>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright.All Ritgh Reserved
        <a class="text-reset fw-bold" href="{{url_for('index')}}">Imobilfacil</a>
    </div>
</footer>
          <script>
$('select[name="cidades"]').on('change', function(){
    var cid = this.value;
    $('select[name="bairros"] option').each(function(){
        var $this = $(this);
        if($this.data('cid') == cid) $this.show();
        else $this.hide();
    });
});
      </script>

<script type="text/javascript" src="../static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

</script>
</body>

</html>